body {
	height: 600px;
}

.container {
	padding: 10px;
	margin: 20px;
}

#passive-tools {
	background:rgba(144, 238, 144, 0.9); /* light green */
}

#active-tools {
	background:rgba(250, 128, 114, 0.8); /* salmon */
}

ul {
	list-style-type: none;
}

.checkbox {
	float: right;
}

#topContainer {
    background:rgba(192,192,192,0.3); /* light green */
}

#leftBot {
    background:rgba(255,255,0,0.3); /* light green */
    overflow: auto;
    height: 130px;
}

#rightBot {
    background:rgba(235,80,150,0.3); /* salmon */
    overflow: auto;
    height: 130px;
}

#mid {
    background:rgba(0,0,255,0.3);
    height: 10px;
    overflow: auto;
}

#botContainer {
    width: 100%; /* or whatever width you want. */
}

#botContainers {
	display: inline;
    overflow: auto;
}

.zapButton {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline;
    float: left;
}

.deactivatedBox {
	color: #808080;
}

.clicked {
    background-color: #4CAF50;
}

.toolCheckbox {
	float: left;
}

#topBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.selectedDetails {
    overflow: auto;
}

.topButton {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline;
    float: left;
}

.zapButton {
    margin: 0;
    padding: 3px 3px;
}

.zapImage {
    width:40px;
    height:40px;
}